*{
  margin:0;
  padding:0;
  top:0;
  left:0;
  box-sizing: border-box;
}

body {
  width:100vw;
  background: black;
  color:whitesmoke;
  font-size: 30px;
}

.contador{
  width:70%;
  margin:50px auto;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.inputs{
  display:flex;
  align-items: center;
  padding:20px;
}

input,label{
  margin-right: 20px;
  padding:10px;
  border-radius:10px;
}

.buttons{
  display:flex;
  align-items: center;
  padding:20px;
}

button{
  padding:10px;
  margin:10px;
  border-radius:10px;
}
